<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href='liquidaciones'>Liquidaciones</a></li>
            <li class="nav-item"><a class="nav-link" href='empresas'>Empresas</a></li>  
            <li class="nav-item"><a class="nav-link" href='login.html'>Cerrar Sesión</a></li>           
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4 col-xl-4 text-center">
            <br>
            <br>
            <br>
            <h3>Ingresar empleado nuevo:</h3>
            <br>
            <form name="formEmpleadoNuevo">
                <div class="form-group">
                    <label>Nombres: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: Juan José" ng-model="empleadoNuevo.nombres" required>
                    <br>
                    <label>Apellidos: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: Pérez Gonzalez" ng-model="empleadoNuevo.apellidos" required>
                    <br>
                    <label>Cédula de identidad: </label>
                    <input type="number" class="form-control input-lg text-center" placeholder="Ej: 12345678 (sin puntos ni guiones)" ng-model="empleadoNuevo.ci" required>
                    <br>
                    <label>Fecha de Nacimiento: </label>
                    <input type="date" class="form-control input-lg text-center" placeholder="Fecha de Nacimiento" ng-model="empleadoNuevo.fechaNacimiento" required>
                    <br>
                    <label>Fecha de ingreso: </label>
                    <input type="date" class="form-control input-lg text-center" placeholder="Fecha de ingreso" ng-model="empleadoNuevo.fechaIngreso">
                    <br>
                    <label>Código Seguro de Salud: </label>
                    <input type="number" class="form-control input-lg text-center" placeholder="Ej: 15" ng-model="empleadoNuevo.seguroSalud">
                    <br>
                    <label>Banco: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: BROU" ng-model="empleadoNuevo.banco">
                    <br>
                    <label>Número de Sucursal del banco: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: 194" ng-model="empleadoNuevo.numSucursalBanco">
                    <br>
                    <label>Número de cuenta del banco</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: 123456" ng-model="empleadoNuevo.numCuentaBanco">
                    <br>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="crearEmpleado()" ng-disabled="formEmpresaNueva.$invalid">Ingresar nuevo empleado</button>
            </form>
            <br>
            <label>{{ mensaje }}</label>
        </div>
    </div>
</div>