<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href='empresas'>Empresas</a></li>  
            <li class="nav-item"><a class="nav-link" href='login.html'>Cerrar Sesión</a></li>           
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4 col-xl-4 text-center">
            <br>
            <br>
            <br>
            <h3>Crear Empresa Nueva</h3>
            <br>
            <form name="formEmpresaNueva">
                <div class="form-group">
                    <label>Nombre de la empresa: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Nombre de la empresa en el sistema" ng-model="empresaNueva.nombre" required>
                    <br>
                    <label>Razón Social: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: Empresa SA" ng-model="empresaNueva.razonSocial">
                    <br>
                    <label>Número de RUT: </label>
                    <input type="number" class="form-control input-lg text-center" placeholder="Ej: 210123450018" ng-model="empresaNueva.numRut">
                    <br>
                    <label>Número de BPS: </label>
                    <input type="number" class="form-control input-lg text-center" placeholder="Ej: 123456" ng-model="empresaNueva.numBps">
                    <br>
                    <label>Dirección: </label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Ej: 18 de Julio 1234 apto. 101" ng-model="empresaNueva.direccion">
                    <br>
                    <label>Número de Teléfono: </label>
                    <input type="number" class="form-control input-lg text-center" placeholder="Ej: 24001234" ng-model="empresaNueva.telefono">
                    <br>
                    <label>Tipo de Aportación: <a class="btn btn-secondary btn-sm" role="button" href="tipoAportacionNuevo">Crear Nuevo</a></label>
                    <!-- <select class="form-control input-lg text-center" ng-model="empresaNueva.tipoAportacion" ng-options"t.titulo for t in tApors"></select> -->
                    <select class="form-control input-lg text-center" ng-model="empresaNueva.tipoAportacion" ng-change="cargarTiposContribuyentes()">
                        <option ng-repeat="t in tApors" value="{{t.codigo}}">{{t.codigo}} - {{t.titulo}}</option>
                    </select>
                    <br>
                    <label>Tipo de Contribuyente: <a class="btn btn-secondary btn-sm" role="button" href="tipoContribuyenteNuevo/:{{empresaNueva.tipoAportacion}}">Crear Nuevo</a></label>
                    <!-- <input type="number" class="form-control input-lg text-center" placeholder="Tipo de Contribuyente" ng-model="empresaNueva.tipoContribuyente"> -->
                    <select class="form-control input-lg text-center" ng-model="empresaNueva.tipoContribuyente">
                        <option ng-repeat="tc in tConts" value="{{tc.codigoTC}}">{{tc.codigoTC}} - {{tc.tituloTC}}</option>
                    </select>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="crearEmpresa()" ng-disabled="formEmpresaNueva.$invalid">Crear nueva empresa</button>
            </form>
            <br>
            <label>{{ mensaje }}</label>
        </div>
    </div>
</div>
