<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href='empresaNueva'>Crear nueva Empresa</a></li>
            <li class="nav-item"><a class="nav-link" href='cerrarSesion'>Cerrar Sesión</a></li>           
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="text-center">
            <br>
            <br>
            <br>
            <h3>Empresas:</h3>
            <br>
            <table class="table table-striped">
                <tr class="info">
                    <th>Nombre</td>
                    <th>Número de RUT</th>
                    <th>Número de BPS</th>
                    <th>Liquidaciones</th>
                    <th>Editar</th>
                </tr>
                <tr ng-repeat="empresa in empresas">
                    <td>{{ empresa.razonSocial }}</td>
                    <td>{{ empresa.numRut }}</td>
                    <td>{{ empresa.numBps }}</td>
                    <td><a class="btn btn-outline-primary" ng-click="liquidacionesEmpresa(empresa)">Ver</a></td>
                    <td><a class="btn btn-outline-primary" ng-click="empresaEditar(empresa)">Editar</a></td>
                </tr>
            </table>
            <br>
            <a class="btn btn-primary" href="empresaNueva">Crear nueva empresa</a>
        </div>
    </div>
</div>