<div class="container">
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href='empleados'>Empleados</a></li> 
                <li class="nav-item"><a class="nav-link" href='empresas'>Empresas</a></li>  
                <li class="nav-item"><a class="nav-link" href='cerrarSesion'>Cerrar Sesión</a></li>           
            </ul>
        </nav>
    </div>
    <div class="row justify-content-md-center">
        <div class="text-center">
            <br>
            <br>
            <br>
            <h3>Liquidaciones de {{ empresa }}:</h3>
            <br>
            <a class="btn btn-primary" href="liquidacionNueva">Crear nueva liquidación</a>
            <a class="btn btn-primary" href="empleadoNuevo">Ingresar empleado</a>
            <a class="btn btn-outline-primary" ng-click="imprimirRecibos()">imprimir</a>
            <br>
            <table class="table table-striped">
                <tr class="info">
                    <th>Fecha</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Tipo</th>
                    <th>Imprimir</th>
                    <!-- <th>Liquidaciones</th> -->
                </tr>
                <tr ng-repeat="liquidacion in liquidaciones">
                    <td>{{ liquidacion.mes }}/{{ liquidacion.anio }}</td>
                    <td>{{ liquidacion.empleado.apellidos }}</td>
                    <td>{{ liquidacion.empleado.nombres }}</td>
                    <td>{{ liquidacion.nombre }}</td>
                    <td><input type="checkbox" class="form-check-input" ng-model="liquidacion.imprimir"></td>
                    <!-- <td><a class="btn btn-outline-primary" ng-click="liquidacionesEmpresaDetalle(liquidacion._id)">Ver</a></td> -->
                </tr>
            </table>
            <br>
            <a class="btn btn-primary" href="liquidacionNueva">Crear nueva liquidación</a>
            <a class="btn btn-primary" href="empleadoNuevo">Ingresar empleado</a>
            <a class="btn btn-outline-primary" ng-click="imprimirRecibos()">imprimir</a>
        </div>
    </div>
</div>
